*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    background-color: #b9e7b9;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

h3{
    font-size: 100%;
    color: rgb(0, 165, 110);
    display:inline-block;
    margin: 0.7%;
}


/*Inicio Estilo Encabezado*/

header{
    background-color: #98fb98;
    transition: 2s;

}

header h1{
    margin: 0;
    text-align: center;
    transition: 2s;
    color: rgb(0, 165, 110);
}

header h2{
    margin: 0;
    text-align: center;
    color: rgb(0, 165, 110);
    transition: 2s;
}

.centrar{
    position: relative;
    padding: 2%;
}

.titulop{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




header a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #abffab;
    
}

ul li{
    padding: 1.5%;
    width: 20%;
    text-align: center;
    transition: 2s;
    border-top: solid 1px #228b22;
    border-bottom: solid 1px #228b22;
}

ul li:hover{
    background-color: #98fb98;
    transition: none;
    cursor: pointer;
    
}

/*Fin Estilo Encabezado*/

/*Inicio Listas*/


.lista > li{
    float: left;
    width: 100%;
    border: none;
    margin: 10px;
    display: flex;
}

.lista > li:hover{
    font-size: 110%;
    background-color: #7add7a;
    justify-content: center;
}

 nav li ul{
    display: none;
}

nav li:hover > ul{
    display: block;
}

.titulo{
    font-style: italic;
    font-size: 130%;
    font-weight: 540;
}

/*Fin Listas*/


/* Inicio estilos Body*/

/*Estilos Camiseta 1 - Huracan*/
.Camiseta1{
    
    padding: 1%;
    margin: 3%;
    display: inline-block;
    background-color: #befabe;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.Camiseta1 h1{
    color: #6fbb6f;
}

/*Fin Estilos Camiseta 1 - Huracan*/

/*Estilos Oferta*/

.contenedor{
    margin-left: 25%;
    display: inline-block;
    text-align: center;
}

.contenedor h2{
    color: #ffffff9f;
    font-size: 400%;
    background: linear-gradient(to top, #228b22, #000);
    padding: 1%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.oferta{
    background: linear-gradient(to top, #befabe, #228b22);
    /*background-color: #befabe;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 400px;
}

.oferta img{
    width: 90%;
}

/*Fin estilos oferta*/

/*Fin estilos Body*/

/*Inicio estilos footer*/

footer{
    background-color: #98fb98;
    padding: 1em 0;
    position:absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

footer h1{
    font-size: 400%;
    margin: 1%;
    color: rgb(0, 165, 110);
    display: inline-block;
}

.links{
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    justify-content: center;
    margin-bottom: 5%;
}

.links a{
    text-decoration: none;
    font-size: 150%;
    text-align: center;
    margin: 3%;
    color: #000;
}

.redes{
    justify-content: right;
    margin: 2%;
    display: inline-block;
    margin-left: 20%;
}

#instagram {
    width: 10%;
}

#twitter{
    width: 15%;
}

#tiktok{
    width: 9.5%;
}


/*Fin estilos footer/*